// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

header.masthead {
	.page-heading,
  	.post-heading,
  	.site-heading {
    	padding: 100px 0 100px;
    	color: white;
    	@media only screen and (min-width: 768px) {
      		padding: 100px 0;
    	}
 	}

}

span.badge-rounded {
	border:1px solid #868e96;
}
