---
layout: default
---

<!-- Page Header -->
{% if page.image_url %}
<header class="masthead" style="background-image: url('{{ page.image_url }}')">
{% elsif page.image %}
<header class="masthead" style="background-image: url('{{ page.image | prepend: site.baseurl }}')"></header>
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">Escrito por
              {% if post.author %}
                {{ post.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
              el
              {% assign m = page.date | date: "%-m" %}
              de
              {{ page.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}Enero
                {% when '2' %}Febrero
                {% when '3' %}Marzo
                {% when '4' %}Abril
                {% when '5' %}Mayo
                {% when '6' %}Junio
                {% when '7' %}Julio
                {% when '8' %}Agosto
                {% when '9' %}Septiembre
                {% when '10' %}Octubre
                {% when '11' %}Noviembre
                {% when '12' %}Diciembre
              {% endcase %}
              de
              {{ page.date | date: "%Y" }}
            </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">

      {{ content }}

      {% if page.tags %} 
        {% for tag in page.tags %}
            <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}">
              <span class="badge badge-pill badge-default badge-rounded">
              {{ tag }}
              </span>
            </a>
        {% endfor %}
      {% endif %}

      <hr>

      {% if site.disqus_short_name %}
        <div class="comments">
          <h2>Comentarios</h2>
          <div id="disqus_thread"></div>
          <script>
        var disqus_config = function () {
          this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.disqus_short_name }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      {% endif %}

      <div class="clearfix">

        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Ver<span class="d-none d-md-inline"> Anterior</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Ver<span class="d-none d-md-inline"> Siguiente</span> &rarr;</a>
        {% endif %}

      </div>

    </div>
  </div>
</div>


